<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Aplicacion de notas usando Node.js, Javascript, mongodb, npm</p>
  <hr class="my-4" />
  <p>Holaaaa
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registro</a>
  </div>
</div>